In [1]:
import matplotlib.pyplot as plt

import numpy 
numpy.__version__ 
'1.21.4' 

from kneed import KneeLocator
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.decomposition import PCA
import plotly.express as px
from sklearn import preprocessing
import sklearn.cluster as cluster
import sklearn.metrics as metrics
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

## Import Titanic Data

In [2]:
titanic = pd.read_csv("titanic.csv")

## Reuse code from lesson 3 to create a new column called 'Title'

In [3]:
titanic['Title'] = titanic['Name'].str.extract('([A-Za-z]+)\.', expand=True)  #Regular expressions such as this are great NLP

## For this toy example perform CCA on missing data

## Kmeans requires numeric data so use the sklearn 'ordinal_encoder' or 'One Hot encoding' to recode all data.  

### Check user documentation.
https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-categorical-features
Which do you think is appropriate?

## We want to see if we can cluster into survived and did not survive so use 2 clusters.

## Apply PCA to reduce titanic data to 2 componants

## Create a scatter plot and color the points by the two clusters

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr